.auth-block{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

}

.fields, button {
	width: 100%;
}
.header {

}


.auth-login, .auth-password, .auth-password-confirm, .auth-button {
	/*flex-basis: 5%;*/

	/*border-radius: 10px;*/
}

.login-field-label, .password-field-label, .confirm-password-field-label {
	display: flex;
	flex-direction: column;
}


html, body, #app {
	width: 100%;
	height: 100%;
}

