$body-bg: #FAFAFA;

body {
	background: $body-bg;
}

html {
	font-size: 16px;
	overflow-y: scroll;
}

.auto-complete-focus {
	// background-color: #f7f7f9;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}



.loading {
	height: 100%;
	width: 100%;
}

::-webkit-scrollbar { 
display: none; 
}

/*UP/DOWNVOTES*/
.green {
	color: #49C581;
}

.green:hover {
	color: #369461;
}

.red {
	color: #C54949;
}

.red:hover {
	color: #993838;
}

//fancy

.fancy {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   border-color: #5BC0DE;
} 

.fancy span { 
    background:#fff; 
    padding:0 10px; 
}

// .modal-open, .modal-open .navbar-fixed-top {
// 	margin-right: auto !important;
// }



/*
<div class="right-content">
<div class="card user-card m-auto">
	<div class="card-header">
		Tauyekel Kunzhol
	</div>
	<div class="card-block">
	  	<div class="user d-flex flex-row">
	  		<img class="user-image d-inline-block" src="http://bit.ly/2jPuuGT" />
	  		<div class="user-info d-inline-block ml-2 d-flex flex-column justify-content-around">
	  			<div class="user-info-stats">
	  				<i class="fa fa-heart fa-lg d-inline-block" aria-hidden="true"/>
	  				<div class="user-info-stats-points d-inline-block ml-1">
	  					750
	  				</div> 
	  				<i class="fa fa-question fa-lg d-inline-block ml-2" aria-hidden="true"/>
	  				<div class="user-info-stats-questions d-inline-block ml-1">
	  					5
	  				</div> 
	  			</div>
	  			<div class="user-info-details">SST, CS 2nd year</div>
	  		</div>
	  	</div>
	  </div>
  </div>

	<div class="card trending-card mt-5 ml-auto mr-auto">
		<div class="card-header">
			Trending questions
		</div>
	  	<div class="list-group">
	  	  <a class="list-group-item list-group-item-action">
	  	  	Cras justo odio 
	  	  	<div class="badge badge-pill badge-info d-inline ml-auto">CSCI151</div> 
	  	  </a>
	  	  <a class="list-group-item list-group-item-action">
	  	  	Dapibus ac facilisis in
	  	  	<div class="badge badge-pill badge-info d-inline ml-auto">CSCI151</div>
	  	  </a>
	  	  <a class="list-group-item list-group-item-action">
	  	  	Morbi leo risus
	  	  	<div class="badge badge-pill badge-info d-inline ml-auto">CSCI151</div>
	  	  </a>
	  	  <a class="list-group-item list-group-item-action">
	  	  	Porta ac consectetur a
	  	  	<div class="badge badge-pill badge-info d-inline ml-auto">CSCI151</div>
	  	  </a>
	  	  <a class="list-group-item list-group-item-action">
	  	  	Vestibulum at eros
	  	  	<div class="badge badge-pill badge-info d-inline ml-auto">CSCI151</div>
	  	  </a>
	  	</div>
	</div>
	</div>
*/